<a href="https://colab.research.google.com/github/Kumarkad/data-science/blob/main/canada_per_capita_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Finding the coefficient and intercept values for the fitted model

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/canada_per_capita_income.csv")

In [ ]:
df

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [ ]:
df.rename(columns={"per capita income (US$)":'per capita income'},inplace=True)

In [ ]:
df.columns

Index(['year', 'per capita income'], dtype='object')

In [ ]:
x = df.drop('per capita income',axis=1)
y = df['per capita income']

In [ ]:
model = linear_model.LinearRegression()
model.fit(x,y)

LinearRegression()

In [ ]:
model.coef_

array([828.46507522])

In [ ]:
model.intercept_

-1632210.7578554575

In [ ]:
pci = 793.10855535*2021+-1561998.8543457168
pci

40873.536016633036

In [ ]:
print('The per capita income fo canadian citizens in year 2021 %4.8f' % (pci))

The per capita income fo canadian citizens in year 2021 40873.53601663

# Predict Canadian citizens per capita income in year 2020 to 2025.

In [ ]:
data=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/canada_per_capita_income.csv")

In [ ]:
data

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     47 non-null     int64
 1   per capita income (US$)  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes

In [ ]:
data.columns

Index(['year', 'per capita income (US$)'], dtype='object')

In [ ]:
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      year  per capita income (US$)
0   False                    False
1   False                    False
2   False                    False
3   False                    False
4   False                    False
5   False                    False
6   False                    False
7   False                    False
8   False                    False
9   False                    False
10  False                    False
11  False                    False
12  False                    False
13  False                    False
14  False                    False
15  False                    False
16  False                    False
17  False                    False
18  False                    False
19  False                    False
20  False                    False
21  False                    False
22  False                    False
23  False                    False
24  False                    False
25  False                    False
26  False                    False
27  False                    False
28  False                    False
29  False                    False
30  False                    False
31  False                    False
32  False                    False
33  False                    False
34  False                    False
35  False                    False
36  False                    False
37  False                    False
38  False                    False
39  False                    False
40  False                    False
41  False                    False
42  False                    False
43  False                    False
44  False                    False
45  False                    False
46  False                    False>

In [ ]:
data.rename(columns={'per capita income (US$)':'income'},inplace=True)

In [ ]:
Model=linear_model.LinearRegression()

In [ ]:
Model.fit(data[['year']],data.income)

LinearRegression()

In [ ]:
Model.predict([[2025]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([45431.01947053])

In [ ]:
def prediction(n):
    for i in n:
        A=Model.predict([[i]])
        print(A)

prediction([2020,2021,2022,2023,2024,2025])

[41288.69409442]
[42117.15916964]
[42945.62424486]
[43774.08932009]
[44602.55439531]
[45431.01947053]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
Model.score(data[['year']],data.income)

0.890916917957032

# Evaluate Mean sqaure error and r² error for the model

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
Df1=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/canada_per_capita_income.csv")

In [ ]:
Df1

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [ ]:
X=Df1[['year']]
Y=Df1[['per capita income (US$)']]

In [ ]:
Df1.columns

Index(['year', 'per capita income (US$)'], dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=2529)

In [ ]:
model1=linear_model.LinearRegression()
model1.fit(X_train,y_train)

LinearRegression()

In [ ]:
Pred=model1.predict(x_test)

In [ ]:
print("mean square error : "+str(mean_squared_error(y_test,Pred)))

mean square error : 28726475.385779645

In [ ]:
print("r² error : "+str(r2_score(y_test,Pred)))

r² error : 0.873664386749155