<a href="https://colab.research.google.com/github/Kumarkad/data-science/blob/main/Salary_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data preprocessing

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
Df=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/hiring.csv")

In [ ]:
Df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [ ]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      int64
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 384.0 bytes

In [ ]:
Df.describe()

,experience,test_score(out of 10),interview_score(out of 10),salary($)
count,8.00000,7.000000,8.000000,8.00000
mean,4.75000,7.857143,7.875000,63000.00000
std,4.26782,1.345185,1.642081,11501.55269
min,0.00000,6.000000,6.000000,45000.00000
25%,1.50000,7.000000,6.750000,57500.00000
50%,4.00000,8.000000,7.500000,63500.00000
75%,7.75000,8.500000,9.250000,70500.00000
max,11.00000,10.000000,10.000000,80000.00000

In [ ]:
Df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [ ]:
Df.isna()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       False                  False                       False      False
1       False                  False                       False      False
2       False                  False                       False      False
3       False                  False                       False      False
4       False                  False                       False      False
5       False                  False                       False      False
6       False                   True                       False      False
7       False                  False                       False      False

In [ ]:
Df1=Df

In [ ]:
Df1['test_score(out of 10)']=Df['test_score(out of 10)'].fillna(Df['test_score(out of 10)'].median())

In [ ]:
Df1

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

# Predict the salary of candidate having : 2yr experience, 9 test score and 6 interview score

In [ ]:
Model=linear_model.LinearRegression()

In [ ]:
X=Df1[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
Y=Df1[['salary($)']]

In [ ]:
Model.fit(X,Y)

LinearRegression()

In [ ]:
Model.predict([[2,9,6]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53205.96797671]])

# Predict the salary for a candidate having: 12 yr experience, 10 test score and 10 interview score

In [ ]:
Model.predict([[12,10,10]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[92002.18340611]])